*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, #56ccf2, #2f80ed);
  display: flex;
  justify-content: center;
  align-items: center;
  /*
    RWD CHANGES
    /////////////
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  */
}
@media screen and (max-width: 43.75em) {
  body {
    width: 100%;
    height: 100%;
  }
}
@media (orientation: landscape) and (max-width: 56.25em) {
  body {
    width: 100%;
    height: 100%;
  }
}

.svg {
  width: 3rem;
}

a {
  text-decoration: none;
}

.container {
  width: 120rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /*
    RWD CHANGES
    /////////////
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 8rem;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
  */
}
@media screen and (max-width: 62.5em) {
  .container {
    width: 90rem;
  }
}
@media screen and (max-width: 43.75em) {
  .container {
    width: 80%;
    height: 90%;
    margin: 8rem 0;
  }
}
@media screen and (max-width: 27em) {
  .container {
    width: 90%;
    height: 90%;
  }
}
@media screen and (max-width: 23.75em) {
  .container {
    width: 90%;
  }
}
@media (orientation: landscape) and (max-width: 56.25em) {
  .container {
    width: 90%;
    height: 100%;
    margin: 3rem 0;
  }
}

.header {
  display: flex;
  padding: 1rem 8rem;
  justify-content: center;
  position: relative;
}

.logo {
  font-size: 5rem;
  font-family: "Pacifico", cursive;
  color: #56ccf2;
}

.pagination {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #56ccf2;
  cursor: pointer;
  padding: 1rem;
}

.arr-right {
  right: 10%;
}

.arr-left {
  left: 10%;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 8rem;
  background-color: #f6f8fa;
  justify-content: center;
}
@media screen and (max-width: 43.75em) {
  .main {
    padding: 4rem;
  }
}
@media (orientation: landscape) and (max-width: 56.25em) {
  .main {
    padding: 4rem;
  }
}
.main__heading {
  font-size: 5rem;
  text-align: center;
  padding: 2rem;
  letter-spacing: 1rem;
  color: #333;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  grid-row-gap: 4rem;
  grid-column-gap: 6rem;
}

.card {
  height: 22rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}
.card--add {
  border-radius: 3px;
  background-color: #56ccf2;
}
.card:hover .card__icon {
  opacity: 1;
  transform: translateY(0);
}
.card:hover .card__icon--delete {
  opacity: 1;
}
@media screen and (max-width: 43.75em) {
  .card .card__icon--delete {
    opacity: 1;
    transform: translateY(0);
  }
  .card .card__icon--done {
    opacity: 1;
    transform: translateY(0);
  }
}
.card__heading {
  flex-grow: 1;
  font-size: 2.6rem;
  font-weight: 400;
}
.card__heading--add {
  width: 100%;
  font-size: 2.6rem;
  color: #2f80ed;
  padding: 1rem;
  border: none;
  font-weight: 400;
  border-radius: 3px;
}
.card__header {
  display: flex;
  align-items: center;
}
.card__icon {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  transform: translateY(-10px);
}
.card__done {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.card__icon--done {
  /* margin-right: 2rem; */
  fill: #00aaaa;
}
.card__icon--delete {
  width: 2.5rem;
  fill: #ff7171;
  transition: opacity 0.3s 0.1s ease-in-out, transform 0.3s ease-in-out;
}
.card__article {
  flex-grow: 1;
  padding: 1rem 0;
}
.card__paragraph {
  font-size: 1.8rem;
  font-weight: 300;
  color: #666;
}
.card__input {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 90%;
  font-size: 1.2rem;
  border: none;
  border-radius: 2px;
  resize: none;
  padding: 1rem;
  background-color: #fafafa;
}
.card__input::placeholder {
  font-family: "Lato", sans-serif;
}
.card__footer {
  text-align: right;
}
.card__footer--add {
  text-align: center;
}
.card__btn {
  font-size: 1.6rem;
  padding: 1rem 0;
  color: #2f80ed;
}
.card__btn--add {
  color: #56ccf2;
  border-radius: 3px;
  padding: 0.8rem 2rem;
  font-weight: 700;
  font-size: 1.8rem;
  background: #fff;
}

.footer {
  padding: 0 8rem;
}

.author {
  font-size: 1.2rem;
  padding: 2rem 0;
}
.author span {
  color: #2f80ed;
}

/*# sourceMappingURL=style.css.map */
